h1 {
  font-size: 32px;
  font-weight: 200;
  letter-spacing: 3px;
  color: #a0a0a0;
}
span {
  color: black;
  font-weight: 700;
}
.link {
  font-size: 18px;
  font-weight: 400;
  color: black;
}
h2 {
  color: white;
  font-size: 56px;
  font-style: italic;
  font-weight: 800;
}
h3 {
  color: white;
  font-size: 30px;
}
