.SneakersImg {
  width: 360px;
  height: auto;
  rotate: -28.75deg;
  margin-top: 30px;
  margin-left: -35px;
}
.title_red_new {
  color: #ff3939;
  font-style: italic;
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 1.5rem;
}
.title_red_discount {
  color: #ff3939;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 1.5rem;
}
.text_desc {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 1.5rem;
}
